body {
    font-family: 'Helvetica Neue', Helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    background-color: #ff00ff;
    color: black;
    font-size: larger;
    /* margin: 2em 20% 6em 20%;
    max-width: 500px; */
}

a {
    color: black;
    font-style: italic;
    font-weight: bold;
}
a:hover {
    color: white;
    text-decoration: none;
}
h5 {
    margin-top: 2rem;
    color: black;
    font-weight: bold;
}
ul {
    list-style-type: "- ";
    margin-left: -15px;
}

.content {
    height: 86vh;
    margin-top: 2rem;
}

/* HEADER */
.disco:hover {
    cursor:help;
}
.topnav_entry {
    font-weight: bold;
    border: 0.2rem solid black;
    text-align: center;
    
}
.topnav_entry.active, .topnav_entry:hover {
    background-color: #00ff00;
}
.topnav_entry_wrap {
    margin-top: 0.2rem;
}
.topnav_entry_wrap:not(:last-child) {
    padding-right: 5px;
}
.topnav_entry_wrap:not(:first-child) {
    padding-left: 5px;
}

/* FEMWO LOGO */
#logo {
    max-width: 100%; 
    align-content: center;
}
#logo:hover {
    background-color: 00ff00;
}
img {
    max-height: 80vh;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.blink {
    animation: blink 3s infinite;

}
@keyframes blink {
    0%,59% {
        background-color: initial;
        opacity: 1;
        filter: invert(0);
    }
    60%, 100%  {
        background-color: #ff00ff;
        opacity: 1;
        filter: invert(1);
    }
} 


/* DISCO */
.infinite-loop--outer {
    overflow: hidden;
}

.infinite-loop--outer div {
    display: inline-block;
}

.infinite-loop {
    font-weight: bold;
    white-space: nowrap;
    animation: infinite-loop--anim 40s linear infinite;
}
.infinite-loop.second {
    animation-direction: reverse;
}

@keyframes infinite-loop--anim {
    
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -50%
    }
}
